.overview-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;

  .section-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #131E40;
    width: 100%;
    text-align: left;

    margin-bottom: 13px;
  }

  .overview-cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;

    @media screen and (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .overview-card {
      background-color: #f9fafc;
      border: 1px solid #ecf0f4;
      border-radius: 6px;
      padding: 32px;

      display: flex;
      flex-direction: column;

      .primary-text {
        font-size: 24px;
        line-height: 24px;
        color: #131E40;
        margin-bottom: 16px;
      }

      .secondary-text {
        font-size: 14px;
        line-height: 14px;
        color: #a5adc6;
      }
    }
  }
}